<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/category/index}" class="">Provinces</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/provinces/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Form Provinces</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" th:object="${provincesForm}"  method="POST" th:action="@{/admin/provinces/save}">
                        <input type="hidden" id="id" name="id" th:value="${provincesForm.id}" />

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:fields="*{name}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" id="name" placeholder="Name" name="name" th:value="${provincesForm.name}">
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish</label>
                                    <div class="col-sm-6">
                                        <select th:field="*{publish}" class="form-control validate[required]" name="publish" id="publish">
                                            <option th:value="'1'" th:selected="${provincesForm.publish == '1'}">Publish</option>
                                            <option th:value="'0'" th:selected="${provincesForm.publish == '0'}">No Publish</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('publish')}" th:errors="*{publish}" class="alert alert-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/provinces/index}" class="btn btn-cons">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>