<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>

<div layout:fragment="content" class="content" th:remove="tag">
    <ul class="breadcrumb">
        <li>
            <p>Pages</p>
        </li>
        <li><a href="#" class="active">Form Blog</a></li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/blog/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Blog</span></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Form <span class="semi-bold">Blog</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>
                <div class="grid-body no-border">


                    <form class="form-horizontal validation_default" enctype="multipart/form-data" th:object="${blogForm}"  method="POST" th:action="@{/admin/blog/save}">
                        <input type="hidden" id="id" name="id" th:value="${blogForm.id}" />

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">Title </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{title}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="title" id="title" />
                                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" />
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label for="template" class="col-sm-3 control-label">Content </label>
                                    <div class="col-sm-9">
                                        <textarea type="text" th:field="*{content}" class="editor-wys form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="content" id="template"></textarea>
                                        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group" th:if="${blogForm.images == null}">
                                    <label for="file" class="col-sm-3 control-label">Images </label>
                                    <div class="col-sm-6">
                                        <input type="file" th:field="*{file}" class="form-control-file validate[required]" name="file" id="file" />
                                        <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group" th:if="${blogForm.images != null}">
                                    <label for="file" class="col-sm-3 control-label">Images </label>
                                    <div class="col-sm-3">
                                        <input disabled type="text" th:field="*{images}" class="form-control validate[required]" name="images" id="images" />
                                        <div th:if="${#fields.hasErrors('images')}" th:errors="*{images}" class="alert alert-danger" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="file" class="form-control-file validate[required]" name="file" id="file" />
                                    </div>
                                </div>

                                <!--
                                <div class="form-group">
                                    <label for="type" class="col-sm-3 control-label">Type </label>
                                    <div class="col-sm-4">
                                        <select name="type" id="type" class="form-control validate[required]">
                                            <option th:value="1" th:selected="${blogForm.type == '1'}">Visa</option>
                                            <option th:value="2" th:selected="${blogForm.type == '2'}">Master</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="alert alert-danger" />
                                    </div>
                                </div>
                                -->

                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish </label>
                                    <div class="col-sm-4">
                                        <select th:field="*{publish}" class="form-control validate[required]" name="publish" id="publish">
                                            <option th:value="'1'" th:selected="${blogForm.publish == '1'}">Active</option>
                                            <option th:value="'0'" th:selected="${blogForm.publish == '0'}">No Active</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('publish')}" th:errors="*{publish}" class="alert alert-danger" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/blog/index}" class="btn btn-cons">Cancel</a>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>