<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/user/index}" class="">User Member</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/user/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Form User</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" th:object="${userForm}"  method="POST" th:action="@{/admin/user/save-profile}">
                        <input type="hidden" id="id" name="id" th:value="${userForm.id}" />

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Full Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" id="name" placeholder="Name" name="name" th:value="${userForm.name}">
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-sm-3 control-label">Phone Number</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{phone}" class="form-control validate[required]" id="phone" placeholder="Phone" name="phone" th:value="${userForm.phone}">
                                        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-sm-3 control-label">Gender</label>
                                    <div class="col-sm-6">
                                        <select th:field="*{gender}" class="form-control validate[required]" name="gender" id="gender">
                                            <option th:value="'L'" th:selected="${userForm.gender == '1'}">Pria</option>
                                            <option th:value="'W'" th:selected="${userForm.gender == '0'}">Wanita</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-3 control-label">Address</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{address}" class="form-control validate[required]" id="address" placeholder="Address" name="address" th:value="${userForm.address}">
                                        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dob" class="col-sm-3 control-label">Date of bird</label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{dob}" class="form-control validate[required]" id="dob" placeholder="DOB" name="dob" th:value="${userForm.dob}">
                                        <div th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="isPartnerUser" class="col-sm-3 control-label">Is Partner User</label>
                                    <div class="col-sm-6">
                                        <select class="form-control validate[required]" name="isPartnerUser" id="isPartnerUser">
                                            <option th:value="'1'" th:selected="${userForm.isPartnerUser == '1'}">Active</option>
                                            <option th:value="'0'" th:selected="${userForm.isPartnerUser == '0'}">Not Active</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="isVerifiedUser" class="col-sm-3 control-label">Is Verified User</label>
                                    <div class="col-sm-6">
                                        <select class="form-control validate[required]" name="isVerifiedUser" id="isVerifiedUser">
                                            <option th:value="'1'" th:selected="${userForm.isVerifiedUser == '1'}">Active</option>
                                            <option th:value="'0'" th:selected="${userForm.isVerifiedUser == '0'}">Not Active</option>


                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/user/index}" class="btn btn-cons">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>