<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/service/index}" class="">Service</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/service/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Informasi Service</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Service Name </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.serviceName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Category </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.categoryName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">User </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.userName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.date}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Detail Service </label>
                                    <div class="col-sm-9">

                                        <table class="table table-bordered no-more-tables table-hover">
                                            <thead>
                                            <tr>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Description</th>
                                                <th class="text-center">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="val : ${serviceDetail}">
                                                    <td th:text="${val.name}"></td>
                                                    <td th:text="${val.description}"></td>
                                                    <td class="text-right" th:text="'Rp. ' + ${#numbers.formatDecimal(val.price, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <br/>
                        <div class="clearfix"></div>

                        <div class="btn-group">
                            <button class="btn btn-demo-space" data-toggle="dropdown">Change Status</button>
                            <button class="btn dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/service/approve(id=${data.id}, approve=1)}" onclick="return confirm('Are you sure you want to change status this item?');">Approve</a></li>
                                <li><a th:href="@{/admin/service/approve(id=${data.id}, approve=2)}" onclick="return confirm('Are you sure you want to change status this item?');">Reject</a></li>
                            </ul>
                        </div>


                        <a th:href="@{{url}/info/{id}-preview(url=${urlFrontend}, id=${data.id})}" class="btn pull-right" target="_BLANK" >Preview Service</a>



                    </form>
                </div>



            </div>
        </div>
    </div>

</div>



</body>

</html>