<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/revenues/index}" class="">Revenues</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/revenues/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Informasi Revenues</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.date}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">User </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.userName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Sale </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.sale}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Charge </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.charge}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Revenues </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.revenue}"></p>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <br/>
                        <div class="clearfix"></div>


                    </form>
                </div>



            </div>
        </div>
    </div>

</div>



</body>

</html>