<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
    <script type="text/javascript">
        var arrColumns = [];

        var defColumns = [{
            "aTargets": [0],
            "mRender": function(data, type, full) {
                return "<div class='text-left'>" + full.date + "</div>";
            }
        }, {
            "aTargets": [1],
            "mRender": function(data, type, full) {
                return "<div class='text-right'>" + toRp(full.sale) + "</div>";
            }
        }, {
            "aTargets": [2],
            "mRender": function(data, type, full) {
                return "<div class='text-center'>" + full.charge + "%</div>";
            }
        }, {
            "aTargets": [3],
            "mRender": function(data, type, full) {
                return "<div class='text-right'>" + toRp(full.revenue) + "</div>";
            }
        },{
            "aTargets": [4],
            "mRender": function(data, type, full) {
                return "<div class='text-left'>" + full.userName + "</div>";
            }
        },{
            "aTargets": [5],
            "mRender": function(data, type, full) {
                var detail = "[[@{/admin/revenues/detail(id=)}]]=" + full.id;
                return '<center>' +
                       '<a href="'+ detail +'"><i class="fa fa-search"></i></a>'+
                       '</center>';
            }
        }];
    </script>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">

    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a href="#" class="active">Revenues</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/payout/index}"/><i class="icon-custom-left"></i><a/>
        <h3><span class="semi-bold">List Revenues</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">Search</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" id="form_search_data_table" method="POST" th:action="@{/admin/revenues/datatable}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userName" class="col-sm-3 control-label">User Member</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Search by Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="paymentDateFrom" class="col-sm-4 control-label">Date</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control" id="paymentDateFrom" name="dateFrom" placeholder="Date from">
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" data-provide="datepicker" data-date-format="yyyy-mm-dd" class="form-control" id="paymentDateTo" name="dateTo" placeholder="Date to">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <input type="submit" value="Search Data" class="btn btn-primary my-colorpicker-control" />
                        <a href="#" class="btn" onClick="window.location.reload()">Reset</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">List Revenues</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="table-responsive">
                        <table class="table table-bordered no-more-tables table-hover" id="data-table">
                            <thead>
                            <tr>
                                <th class="text-center">Date</th>
                                <th class="text-center">Sale</th>
                                <th class="text-center">Charge</th>
                                <th class="text-center">Revenues</th>
                                <th class="text-center">User Member</th>
                                <th class="text-center">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>