<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/service/index}" class="">Payout</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/payout/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Informasi Payout</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date Request </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.date}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">User </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.userName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Amount </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.amount}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Bank </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.bankName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">No Account Bank </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.bankNumber}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Account Name </label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static text-bold" th:text="${data.bankAccountName}"></p>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <br/>
                        <div class="clearfix"></div>

                        <div class="btn-group">
                            <button class="btn btn-demo-space" data-toggle="dropdown">Change Status</button>
                            <button class="btn dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/admin/payout/approve(id=${data.id}, status=1)}" onclick="return confirm('Are you sure you want to change status this item?');">Approve</a></li>
                                <li><a th:href="@{/admin/payout/approve(id=${data.id}, status=2)}" onclick="return confirm('Are you sure you want to change status this item?');">Reject</a></li>
                            </ul>
                        </div>



                    </form>
                </div>



            </div>
        </div>
    </div>

</div>



</body>

</html>