<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/messages/index}" class="">Messages</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/messages/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Form messages</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" th:object="${messagesForm}"  method="POST" th:action="@{/admin/messages/save}">
                        <input type="hidden" id="id" name="id" th:value="${messagesForm.id}" />

                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="message" class="col-sm-3 control-label">Messages</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{message}" class="form-control validate[required]" id="message" placeholder="Messages" name="message" th:value="${messagesForm.message}">
                                        <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish</label>
                                    <div class="col-sm-6">
                                        <select class="form-control validate[required]" name="publish" id="publish">
                                            <option value="1" th:selected="${messagesForm.publish == '1'}">Publish</option>
                                            <option value="0" th:selected="${messagesForm.publish == '0'}">No Publish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/message/index}" class="btn btn-cons">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>