<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/revenues/index}" class="">Transaction</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/transaction/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Informasi Transaction</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Transaction Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Traveling Name </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.travelingName}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Traveling Email </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.travelingEmail}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Traveling Phone</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.travelingPhone}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Transaction Date </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.date}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Fee Admin</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="'Rp. ' + ${#numbers.formatDecimal(data.fee, 1, 'DEFAULT', 0, 'DEFAULT')}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Summary Service</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="'Rp. ' + ${#numbers.formatDecimal(data.summaryService, 1, 'DEFAULT', 0, 'DEFAULT')}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Discount</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="'Rp. ' + ${#numbers.formatDecimal(data.discountVoucherCode, 1, 'DEFAULT', 0, 'DEFAULT')}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Total</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="'Rp. ' + ${#numbers.formatDecimal(data.total, 1, 'DEFAULT', 0, 'DEFAULT')}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">No. Transaction </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.invoiceNumber}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Method </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.paymentMethode}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Code </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold" th:text="${data.paymentCode}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Amount </label>
                                    <div class="col-sm-4">
                                        <p class="form-control-static text-bold"  th:text="'Rp. ' + ${#numbers.formatDecimal(data.paymentAmount, 1, 'DEFAULT', 0, 'DEFAULT')}"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Status </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static text-bold">
                                            <span class='label label-warning' th:if="${data.statusPayment == '0'}">Waiting</span>
                                            <span class='label label-success' th:if="${data.statusPayment == '1'}">Approve</span>
                                            <span class='label label-danger' th:if="${data.statusPayment == '2'}">Cancel</span>
                                            <span class='label label-danger' th:if="${data.statusPayment == '3'}">Refund</span>
                                            <span class='label label-danger' th:if="${data.statusPayment == '4'}">Reject</span>
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <br/>
                        <div class="clearfix"></div>


                    </form>

                    <br/>
                    <div class="clearfix"></div>

                    <div class="btn-group" th:if="${data.statusPayment == '0'}">
                        <button class="btn btn-demo-space" data-toggle="dropdown">Change Status</button>
                        <button class="btn dropdown-toggle btn-demo-space" data-toggle="dropdown"> <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/admin/transaction/approve(id=${data.id}, statusPayment=1)}" onclick="return confirm('Are you sure you want to change status this item?');">Approve</a></li>
                            <li><a th:href="@{/admin/transaction/approve(id=${data.id}, statusPayment=4)}" onclick="return confirm('Are you sure you want to change status this item?');">Reject</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">Detail Transaction</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="table-responsive">
                        <table class="table table-bordered no-more-tables table-hover" >
                            <thead>
                            <tr>
                                <th class="text-center">Service</th>
                                <th class="text-center">Date Visit</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="va : ${data.formDetailCart}">
                                <td>
                                    <strong><th:block th:text="${va.serviceName}"/></strong>
                                    <br/>
                                    <th:block th:text="${va.serviceNameDetail}"/>
                                </td>
                                <td th:text="${va.dateVisit}"></td>
                                <td class="text-right" th:text="'Rp. ' + ${#numbers.formatDecimal(va.price, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                                <td class="text-center" th:text="${va.qty}"></td>
                                <td class="text-right" th:text="'Rp. ' + ${#numbers.formatDecimal(va.total, 1, 'DEFAULT', 0, 'DEFAULT')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>