<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
    <script type="text/javascript">
        var arrColumns = [];

        var defColumns = [{
            "aTargets": [0],
            "mRender": function(data, type, full) {
                return "<div class='text-left'>" + full.email + "</div>";
            }
        }, {
            "aTargets": [1],
            "mRender": function(data, type, full) {
                return "<div class='text-left'>" + full.date + "</div>";
            }
        }];
    </script>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">

    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a href="#" class="active">Category</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/subscribe/index}"/><i class="icon-custom-left"></i><a/>
        <h3><span class="semi-bold">List Email Subscribe</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">Search</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" id="form_search_data_table" method="POST" th:action="@{/admin/subscribe/datatable}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title" class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="title" name="email" placeholder="Search by Email">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br/>
                        <input type="submit" value="Search Data" class="btn btn-primary my-colorpicker-control" />
                        <a href="#" class="btn" onClick="window.location.reload()">Reset</a>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">List Email Subscribe</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="table-responsive">
                        <table class="table table-bordered no-more-tables table-hover" id="data-table">
                            <thead>
                            <tr>
                                <th class="text-center">Email</th>
                                <th class="text-center">Date</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>