<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/user-admin/index}" class="">User Admin</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/user-admin/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Form User Admin</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" th:object="${adminForm}"  method="POST" th:action="@{/admin/user-admin/save}">
                        <input type="hidden" id="id" name="id" th:value="${adminForm.id}" />

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" id="name" placeholder="Name" name="name" th:value="${adminForm.name}">
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group" th:if="${adminForm.id == null}">
                                    <label for="username" class="col-sm-3 control-label">Username </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{username}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" id="username" placeholder="Username" name="username" th:value="${adminForm.username}">
                                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group" th:if="${adminForm.id == null}">
                                    <label for="password" class="col-sm-3 control-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{password}" class="form-control validate[required]" id="password" placeholder="password" name="password">
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Enabled</label>
                                    <div class="col-sm-6">
                                        <select th:field="*{enabled}" class="form-control validate[required]" name="enabled" id="publish">
                                            <option th:value="'1'" th:selected="${adminForm.enabled == '1'}">Active</option>
                                            <option th:value="'0'" th:selected="${adminForm.enabled == '0'}">No Active</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}" class="alert alert-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Hidden input when update-->
                        <input type="hidden" th:if="${adminForm.id != null}" th:field="*{username}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" placeholder="Username" name="username" th:value="${adminForm.username}">
                        <input type="hidden" th:if="${adminForm.id != null}" th:field="*{password}" class="form-control validate[required]" placeholder="password" name="password" th:value="${adminForm.username}">

                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/user-admin/index}" class="btn btn-cons">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>