<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:dec="http://www.w3.org/1999/xhtml">

<head th:fragment="meta-tag">
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link th:href="@{/plugins/jquery-slider/css/jquery.sidr.light.min.css}" rel="stylesheet" type="text/css" media="screen" />

    <!-- BEGIN PLUGIN CSS -->
    <link th:href="@{/plugins/bootstrap-select2/select2.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/datatables-responsive/css/datatables.responsive.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/jquery-datatable/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/boostrap-checkbox/css/bootstrap-checkbox.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/DataTablesCustum/media/plug-ins/integration/bootstrap/3/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/bootstrap-datepicker/css/datepicker.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PLUGIN CSS -->

    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link th:href="@{/plugins/pace/pace-theme-flash.min.css}" rel="stylesheet" type="text/css" media="screen" />
    <link th:href="@{/plugins/boostrapv3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/boostrapv3/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.min.css}" rel="stylesheet" type="text/css"/>
    <!-- END CORE CSS FRAMEWORK -->

    <!-- BEGIN CSS TEMPLATE -->
    <link th:href="@{/css/style.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/responsive.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom-icon-set.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/custom.min.css}" rel="stylesheet" type="text/css" />
    <!-- END CSS TEMPLATE -->

    <title th:text="'Trapedia | ' + ${title}"></title>
</head>

<body>
<div th:fragment="header">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse ">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="header-seperation">
                <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
                    <li class="dropdown">
                        <a id="main-menu-toggle" href="#main-menu" class="">
                            <div class="iconset top-menu-toggle-white"></div>
                        </a>
                    </li>
                </ul>
                <!-- BEGIN LOGO -->
                <a th:href="@{/admin/home}">
                    <img th:src="@{/img/trapedia-logo.png}" class="logo" alt="" th:data-src="@{/img/trapedia-logo.png}" th:data-src-retina="@{/img/trapedia-logo.png}" width="106">
                </a>

            </div>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <div class="header-quick-nav">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="pull-left">
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" id="layout-condensed-toggle">
                                <div class="iconset top-menu-toggle-dark"></div>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav quick-section">
                        <li class="quicklinks">
                            <a href="#" class="" onClick="window.location.reload()">
                                <div class="iconset top-reload"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
                <!-- BEGIN CHAT TOGGLER -->
                <div class="pull-right">
                    <div class="chat-toggler">
                        <a href="#">&nbsp;</a>

                    </div>
                    <ul class="nav quick-section ">
                        <li class="quicklinks">
                            <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
                                <div class="iconset top-settings-dark "></div>
                            </a>
                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
                                <!--
                            <li><a href="<c:url value='/mms/user/form_profile.htm' />"> Profile</a></li>
                            -->
                                <li class="divider"></li>
                                <li><a th:href="@{/admin/auth/logout}"><i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- END CHAT TOGGLER -->
            </div>
            <!-- END TOP NAVIGATION MENU -->

        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar" id="main-menu">
            <!-- BEGIN MINI-PROFILE -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                <div class="user-info-wrapper">

                    <div class="user-info">
                        <div class="greeting">Welcome</div>
                        <div class="username"><span class="semi-bold" th:text="${session.name}"></span></div>
                        <div class="status">Status
                            <a href="#">
                                <div class="status-icon green"></div>
                                Online</a>
                        </div>
                    </div>
                </div>
                <!-- END MINI-PROFILE -->

                <ul class="menu_content">

                    <li th:class="${activeMenu == 'home' ? 'start active' : ''}">
                        <a th:href="@{/admin/home}"> <i class="icon-custom-home"></i> <span class="title">Dashboard</span> <span class="selected"></span> </a>
                    </li>
                    <li th:class="${activeMenu == 'transaction' ? 'start active' : ''}">
                        <a th:href="@{/admin/transaction/index}"> <i class="icon-custom-extra"></i> <span class="title">Transaction</span> </a>
                    </li>
                    <li th:class="${activeMenu == 'revenues' ? 'start active' : ''}">
                        <a th:href="@{/admin/revenues/index}"> <i class="icon-custom-chart"></i> <span class="title">Revenues</span> </a>
                    </li>
                    <li th:class="${activeMenu == 'payout' ? 'start active' : ''}">
                        <a th:href="@{/admin/payout/index}"> <i class="icon-custom-portlets"></i> <span class="title">Request Payout</span> </a>
                    </li>

                    <li th:class="${activeMenu == 'service' ? 'start active' : ''}">
                        <a href="javascript:;"> <i class="fa fa-th"></i> <span class="title">Service</span> <span class="arrow "></span> </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/admin/service/index}"> Packages Service </a></li>
                            <li><a th:href="@{/admin/category/index}"> Category Service </a></li>
                            <li><a th:href="@{/admin/category-detail/index}"> Category Detail Service </a></li>
                        </ul>
                    </li>
                    <li th:class="${activeMenu == 'voucher' ? 'start active' : ''}">
                        <a th:href="@{/admin/voucher/index}"> <i class="fa fa-ticket"></i> <span class="title">Voucher</span> </a>
                    </li>


                    <li th:class="${activeMenu == 'location' ? 'start active' : ''}">
                        <a href="javascript:;"> <i class="fa fa-map-marker"></i> <span class="title">Location</span> <span class="arrow "></span> </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/admin/provinces/index}"> Provinces </a></li>
                            <li><a th:href="@{/admin/regencies/index}"> Regencies </a></li>
                        </ul>
                    </li>
                    <li th:class="${activeMenu == 'user' ? 'start active' : ''}">
                        <a href="javascript:;"> <i class="fa fa-users"></i> <span class="title">User</span> <span class="arrow "></span> </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/admin/user-admin/index}"> User Admin </a></li>
                            <li><a th:href="@{/admin/user/index}"> User Member </a></li>
                        </ul>
                    </li>
                    <li th:class="${activeMenu == 'inbox' ? 'start active' : ''}">
                        <a href="javascript:;"> <i class="fa fa-inbox"></i> <span class="title">Inbox</span> <span class="arrow "></span> </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/admin/subscribe/index}"> Email Subscribe </a></li>
                            <li><a th:href="@{/admin/comment/index}"> Comment Service </a></li>
                            <li><a th:href="@{/admin/messages/index}"> Messages User </a></li>
                        </ul>
                    </li>
                    <li th:class="${activeMenu == 'article' ? 'start active' : ''}">
                        <a href="javascript:;"> <i class="fa fa-file-text"></i> <span class="title">Article</span> <span class="arrow "></span> </a>
                        <ul class="sub-menu">
                            <li><a th:href="@{/admin/blog/index}"> Blog </a></li>
                            <li><a th:href="@{/admin/pages/index}"> Page Static </a></li>
                        </ul>
                    </li>


                </ul>

                <div class="clearfix"></div>
                <br/>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
        <div class="footer-widget">
            <p>
            <center><small>Copyright @ Trapedia 2019</small></center>
            </p>
        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN PAGE CONTAINER-->
        <div class="page-content">
            <div class="content">
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>

    <!-- END CONTAINER -->
</div>
</body>

</html>