<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/header :: meta-tag"/>
    <link rel="icon" type="image/x-icon" th:href="@{favicon.ico}">
</head>
<body>

<!--header.html  that's here  -->
<div th:replace="fragments/header :: header"></div>

<!--footer.html  that's here  -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>