<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>Trapedia | Error 403</title>

		<div th:replace="fragments/header :: meta-tag"/>

    </head>
    <!-- END HEAD -->

    <!-- BEGIN BODY -->			
		<body class="error-body no-top">
		<div class="error-wrapper container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-offset-1 col-xs-10">
		   <div class="error-container" >
			<div class="error-main">
			  <div class="error-number"> 403 </div>
			  <div class="error-description" > Forbidden Error Response. </div>
			  <div class="error-description-mini"> The request was a valid request, but the server is refusing to respond to it </div>
			  <br>
			  <div class="row">
		
			  </div>
			  <br>
			  <a th:href="@{/}" class="btn btn-primary btn-cons" type="button">Back to Home Page</a>
			</div>
			</div>
		  
		  </div>
		</div>
		</div>

        <div th:replace="fragments/footer :: footer"/>
    
    </body>
</html>