.logo-text{
	color: #ffffff !important;
	float: left;
	padding: 5px 10px;
}

.form-horizontal{
	display: block;
}

.form-group{
	margin-top: 3px;
	margin-bottom: 10px;
}

.form-control{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #e5e9ec;
    border-radius: 0px !important;
}

.text-bold{
    font-weight: bold !important;
}

@media (min-width: 980px) {
	.logo-text{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	}
}

.formError .formErrorContent{
	min-width: 140px !important;
	background : #525052 !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	 border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    -o-border-radius: 3px !important;
}

.formError .formErrorArrow div{
	background : #525052 !important;
	border-left: none;
	border-right: none;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
}
.formError .formErrorArrow .line2, .formError .formErrorArrow .line1{
	display: none;
}
ul.pagination li{
	padding-left: 0px !important;
}

.table > thead > tr > th{
	border: 1px solid #e0e0e0 !important;s
}

table.table-bordered.dataTable{
	border-collapse:collapse !important;
}

table.dataTable tr th{
	vertical-align: middle !important;
	border: 1px solid #e0e0e0 !important;
}
.table > tbody > tr > td, .table > tfoot > tr > td{
	vertical-align: middle;
}

.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th{
	background-color: #f3f7f9;
}

.datepicker {
	z-index: 999999 !important;
}

table.dataTable tr th{
	background: #edeff3 !important;
}

.dataTables_filter{
	float: right;
}

span.alert.alert-danger{
	border-radius: 0px !important;
	display: block;
}

div.dataTables_info{
    float: left !important;
    display: block !important;
    border-right: none !important;
}

.logo{
    margin-left: 30px !important
}
.username{
    font-size: 12px !important;
    display: block !important;
    margin-bottom: 15px !important;
}

#data-table_length{
    display: none !important;
}