<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.w3.org/1999/html" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">


    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a th:href="@{/admin/category/index}" class="">Category</a> </li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/category/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Form Category</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4> <span class="semi-bold">Detail Data</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" th:object="${categoryForm}"  method="POST" th:action="@{/admin/category/save}">
                        <input type="hidden" id="id" name="id" th:value="${categoryForm.id}" />

                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="title" class="col-sm-3 control-label">Title </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{title}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" id="title" placeholder="Title" name="title" th:value="${categoryForm.title}">
                                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" th:field="*{description}" class="form-control validate[required]" id="description" placeholder="Description" name="description" th:value="${categoryForm.description}">
                                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="images" class="col-sm-3 control-label">images</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control validate[required]" id="images" placeholder="Image" name="images" th:value="${categoryForm.images}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish</label>
                                    <div class="col-sm-6">
                                        <select class="form-control validate[required]" name="publish" id="publish">
                                            <option value="1" th:selected="${categoryForm.publish == '1'}">Publish</option>
                                            <option value="0" th:selected="${categoryForm.publish == '0'}">No Publish</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/category/index}" class="btn btn-cons">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



</body>

</html>