<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}">

<head>
</head>

<body>

<div layout:fragment="content" class="content" th:remove="tag">
    <ul class="breadcrumb">
        <li>
            <p>Pages</p>
        </li>
        <li><a href="#" class="active">Form Voucher</a></li>
    </ul>
    <div class="page-title"> <a th:href="@{/admin/voucher/index}"><i class="icon-custom-left"></i></a>
        <h3><span class="semi-bold">Voucher</span></h3>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4>Form <span class="semi-bold">Voucher</span></h4>
                    <div class="tools"> <a class="collapse" href="javascript:;"></a> &nbsp;<a class="reload" href="javascript:;"></a>  </div>
                </div>
                <div class="grid-body no-border">


                    <form class="form-horizontal validation_default" th:object="${voucherForm}"  method="POST" th:action="@{/admin/voucher/save}">
                        <input type="hidden" id="id" name="id" th:value="${voucherForm.id}" />

                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="name" class="col-sm-3 control-label">Name </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{name}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="name" id="name" />
                                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="voucherCode" class="col-sm-3 control-label">Voucher Code </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{voucherCode}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="voucherCode" id="voucherCode" />
                                        <div th:if="${#fields.hasErrors('voucherCode')}" th:errors="*{voucherCode}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amountType" class="col-sm-3 control-label">Amount Type </label>
                                    <div class="col-sm-4">
                                        <select name="amountType" id="amountType" class="form-control validate[required]">
                                            <option th:value="PERCENTAGE" th:selected="${voucherForm.amountType == 'PERCENTAGE'}">PERCENTAGE</option>
                                            <option th:value="FIXED" th:selected="${voucherForm.amountType == 'FIXED'}">FIXED</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('amountType')}" th:errors="*{amountType}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="amount" class="col-sm-3 control-label">Amount </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{amount}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="amount" id="amount" />
                                        <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="maxAmount" class="col-sm-3 control-label">Max. Amount </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{maxAmount}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="maxAmount" id="maxAmount" />
                                        <div th:if="${#fields.hasErrors('maxAmount')}" th:errors="*{maxAmount}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="minTransaction" class="col-sm-3 control-label">Min. Transaction </label>
                                    <div class="col-sm-6">
                                        <input type="text" th:field="*{minTransaction}" class="form-control validate[required, funcCall[noSpecialChars], maxSize[50]]" name="minTransaction" id="minTransaction" />
                                        <div th:if="${#fields.hasErrors('minTransaction')}" th:errors="*{minTransaction}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="validDateFrom" class="col-sm-3 control-label">Valid Date From </label>
                                    <div class="col-sm-4">
                                        <div class="input-append success date col-md-10 col-lg-6 no-padding">
                                            <input id="validDateFrom" th:field="*{validDateFrom}" type="text" class="form-control validate[required]" name="validDateFrom">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> </div>
                                        <div th:if="${#fields.hasErrors('validDateFrom')}" th:errors="*{validDateFrom}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="validDateTo" class="col-sm-3 control-label">Valid Date To </label>
                                    <div class="col-sm-4">
                                        <div class="input-append success date col-md-10 col-lg-6 no-padding">
                                            <input id="validDateTo" th:field="*{validDateTo}" type="text" class="form-control validate[required]" name="validDateTo">
                                            <span class="add-on"><span class="arrow"></span><i class="fa fa-th"></i></span> </div>
                                        <div th:if="${#fields.hasErrors('validDateTo')}" th:errors="*{validDateTo}" class="alert alert-danger" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish </label>
                                    <div class="col-sm-4">
                                        <select th:field="*{publish}" class="form-control validate[required]" name="publish" id="publish">
                                            <option th:value="'1'" th:selected="${voucherForm.publish == '1'}">Active</option>
                                            <option th:value="'0'" th:selected="${voucherForm.publish == '0'}">No Active</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('publish')}" th:errors="*{publish}" class="alert alert-danger" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary btn-cons">Save</button>
                        <a th:href="@{/admin/voucher/index}" class="btn btn-cons">Cancel</a>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>