<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">

<head>
    <script type="text/javascript">

        var arrColumns = [];

        var defColumns = [{
            "aTargets": [0],
            "mRender": function (data, type, full) {
                return "<div class='text-left'>" + full.title + "</div>";
            }
        }, {
            "aTargets": [1],
            "mRender": function (data, type, full) {
                if (full.images != null && full.images != "") {
                    return "<div class='text-center'><img class='img-responsive' style='width:100px;' src='/images/"+ full.images +"'></img></div>";
                } else {
                    return "<div class='text-left'>NONE</div>";
                }
            }
        },{
            "aTargets": [2],
            "mRender": function (data, type, full) {
               return "<div class='text-left'>" + full.type + "</div>";
            }
        }, {
            "aTargets": [3],
            "mRender": function (data, type, full) {
                if(full.publish == "0"){
                    return "<div class='text-center'><span class='label label-warning'>Non Active</span></div>";
                }else if(full.publish == "1"){
                    return "<div class='text-center'><span class='label label-success'>Active</span></div>";
                }
            }
        }, {
            "aTargets": [4],
            "mRender": function (data, type, full) {
                var edit = "[[@{/admin/pages/form(id=)}]]=" + full.id;
                var deleted = "[[@{/admin/pages/delete(id=)}]]=" + full.id;
                return '<center>' +
                       '<a href="' + edit + '"><i class="fa fa-edit"></i></a> &nbsp; ' +
                       '<a href="'+deleted+'" title="Delete Data" onclick="return confirm(\'Deleted this data ?\')"><i class="fa fa-trash-o"></i></a> '+
                       '</center>';
            }
        }];
    </script>
</head>

<body>


<div layout:fragment="content" class="content" th:remove="tag">

    <ul class="breadcrumb">
        <li><p>Home</p></li>
        <li><a href="#" class="active">Pages</a></li>
    </ul>
    <div class="page-title"><a th:href="@{/admin/pages/index}"/><i class="icon-custom-left"></i><a/>
        <h3><span class="semi-bold">List Pages</span></h3>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">Search</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>

                <div class="grid-body no-border">
                    <form class="form-horizontal validation_default" id="form_search_data_table" method="POST"
                          th:action="@{/admin/pages/datatable}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="title" class="col-sm-4 control-label">Title</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="title" name="title"
                                               placeholder="Search by Title">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="publish" class="col-sm-3 control-label">Publish</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="publish" id="publish">
                                            <option value="">Select :</option>
                                            <option value="1">Active</option>
                                            <option value="0">Non Active</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <input type="submit" value="Search Data" class="btn btn-primary my-colorpicker-control"/>
                        <a href="#" class="btn" onClick="window.location.reload()">Reset</a>

                        <a th:href="@{/admin/pages/form}" class="btn pull-right">Add Pages</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="grid simple">
                <div class="grid-title no-border">
                    <h4><span class="semi-bold">List User</span></h4>
                    <div class="tools">
                        <a class="collapse" href="javascript:;"></a> &nbsp;
                        <a class="reload" href="javascript:;"></a>
                    </div>
                </div>
                <div class="grid-body no-border">
                    <div class="table-responsive">
                        <table class="table table-bordered no-more-tables table-hover" id="data-table">
                            <thead>
                            <tr>
                                <th class="text-center">Title</th>
                                <th class="text-center">Image</th>
                                <th class="text-center">Type</th>
                                <th class="text-center">Publish</th>
                                <th class="text-center">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>